.employee {
    width: 200px;
    padding: 20px;
    background-color: beige;
    border: solid black 2px;
    display: inline-block;
    margin: 10px;
    -webkit-box-shadow: 0 0 10px 5px #DE9B16;
    box-shadow: 0 0 10px 5px #DE9B16;
  }
  