<h2>Second Component</h2>

<div>Color: {{color}}</div>
<div [style.color]="color">Color: {{color}}</div>
<div 
   [style.width]="size"
   [style.height]="size"
   class="box" 
   [style.background-color]="color"
></div>
