<div class="container">
  <!-- <app-product-list></app-product-list> -->
  <!-- <app-add-product></app-add-product> -->
  <!-- <app-add-product-v1></app-add-product-v1> -->
  <app-login></app-login>
</div>
