.person1 {
    width: 200px;
    border: solid black 3px;
    padding: 10px;
    margin: 10px;
    background-color: cornsilk;
  }
  
  .person2 {
    width: 200px;
    border: solid black 3px;
    padding: 10px;
    margin: 10px;
    background-color: gainsboro;
  }
  
              
  