<h2>Login</h2>

<div class="form">
  <div class="form-group">
    <label for="">Email</label>
    <input [(ngModel)]="email" type="email" class="form-control">
  </div>

  <div class="form-group">
    <label for="">Password</label>
    <input [(ngModel)]="password" type="password" class="form-control">
  </div>

  <div class="form-group">
    <button (click)="onLogin()" class="btn btn-success">Login</button>
    <button (click)="onCancel()" style="margin-left: 10px;" class="btn btn-danger">Cancel</button>
  </div>
</div>

            
