<p>Car List</p>

<div class="cars" *ngFor ="let car of cars">
    <div>ID: {{car['id']}}</div>
    <div>Model: {{car['model']}}</div>
    <div>Company: {{car['company']}}</div>
    <div>Price: {{car['price']}}</div>
    <div>Color: {{car['color']}}</div>
</div>

<hr>
<hr>
<hr>
<hr>

<ul>
    <li class="cars" *ngFor ="let car of cars">
        <div>ID: {{car['id']}}</div>
        <div>Model: {{car['model']}}</div>
        <div>Company: {{car['company']}}</div>
        <div>Price: {{car['price']}}</div>
        <div>Color: {{car['color']}}</div>
    </li>
</ul>
<hr>
<hr>
<hr>

<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Company</th>
            <th>Price</th>
            <th>Color</th>
          </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let car of cars">
            <td>{{car['id']}}</td>
            <td>{{car['model']}}</td>
            <td>{{car['company']}}</td>
            <td>{{car['price']}}</td>
            <td>{{car['color']}}</td>
        </tr>
    </tbody>
    
  </table>
  