<h2>Product List</h2>

<button style="margin-bottom: 10px;" class="btn bt-sm btn-success float-right">Add</button>

<h4 *ngIf="products.length == 0">There is no product at the moment. Please add a one using Add button.</h4>
<table *ngIf="products.length > 0" class="table table-striped table-bordered">
  <thead>
    <tr>
      <th style="width: 50px;">No</th>
      <th>Title</th>
      <th>Description</th>
      <th style="width: 100px;">Price</th>
      <th style="width: 150px;">Category</th>
      <th style="width: 150px;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products; let index = index">
      <td>{{index + 1}}</td>
      <td>{{product['title']}}</td>
      <td>{{product['description']}}</td>
      <td>{{product['price']}}</td>
      <td>{{product['category']}}</td>
      <td>
        <button (click)="onEdit(product)" class="btn btn-warning btn-sm">Edit</button>
        <button (click)="onDelete(product, index)" style="margin-left: 10px;" class="btn btn-danger btn-sm">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

            
